body {
    font: 1rem "Arial", sans-serif;
    background-color: #000;
}

#markdown-container {

    margin: 0 auto;
    width: 90vw;
    /*border: 1px dashed white;*/

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


h1 {
    text-align: center;
}

#preview, #editor {
    height: 90vh;
    width: 45vw;
    border: 1px dotted pink;
}














